.formWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 145, 255);
}
.formContent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formTable{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.record{
    display: flex;
    flex-direction: column;
    align-items: center;
}