.buttonLoadTable{
    background-color: rgb(151, 208, 252);;
    color: black;
    padding:10px;
    border-radius: 10px;
    border: none;
    transition: background 0.3s ease, color 0.3s ease;
}
.buttonLoadTable:hover{
    background-color: rgb(0, 0, 0);;
    color: rgb(151, 208, 252);

}